.header-container{
  background-color: #131921;
  position: fixed;
  left: 0px;
  right: 0px;
  height: 54px;
  display: flex;
  align-items: center;
}
.Amazon-Logo-img{
  height: 32px;
}
.White-Amazon-Logo-div{
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-Amazon-Logo-in-p{
  color: white;
  font-size: 13px;
  margin-bottom: 11px;
}
.location-header-info-first-p{
  color: rgb(208, 208, 208);
  font-size: 12px;
}
.location-header-info-second-p{
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: -3px;
}
.location-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 13px;
}
.location-icon{
  height: 18px;
  margin-top:10px
}
.location-header-info{
  margin-left: 2px;
}